@import "tailwindcss";
@plugin "daisyui";


::selection {
  background-color: #4caf50;
  color: white;
}

html,body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.input {
  background-color: rgba(255, 255, 255, 0.3);
  /* width: 35vh; */
  font-size: 16px;
  font-weight: 700;
}

